<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/RedDragon16.css' %}">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About/">About</a></li>
            <li><a href="/RedDragon16/">RedDragon16</a></li>
            <li><a href="/Music/">Music</a></li>
            <li><a href="/Coding/">Coding</a></li>
        </ul>
    </div>
    {% block content %}
    
    {% endblock %}
</body>
</html>