<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedDragon16</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/RedDragon16.css' %}">
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/About/">About</a></li>
            <li><a href="/RedDragon16/">RedDragon16</a></li>
            <li><a href="/Music/">Music</a></li>
            <li><a href="/Coding/">Coding</a></li>
        </ul>
    </div>
    <div id="Label">
        {% for post in posts %}
            <h1>{{ post.title }}</h1>
            <h3>{{ post.About }}</h3>
        {% endfor %}
    </div>
    <div id="menu">
        <ul>
            <li><a href="/RedDragon16/T3FPSMBGS/">Top 3 FPS MB Games</a></li>
        </ul>
    </div>
</body>
</html>